/* src/styles/globals.css */

/* دستورات اصلی Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* تنظیمات سراسری برای هماهنگی با تم تلگرام و جهت RTL */
body {
    /* تنظیم فونت فارسی */
    font-family: 'Vazirmatn', sans-serif !important;
    /* تنظیم رنگ پس‌زمینه از تم تلگرام */
    background-color: var(--tg-theme-bg-color, #f0f0f0);
    color: var(--tg-theme-text-color, #000000);
    direction: rtl; /* جهت‌گیری راست به چپ برای کل برنامه */
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s; /* برای تغییر تم */
}

/* رفع مشکل فوکوس پیش‌فرض در مینی‌اپ‌ها */
button:focus {
    outline: none;
}
